body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1555px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:729px;
  display:flex;
  transition:none;
}
#u6261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:729px;
}
#u6261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6262 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:604px;
  width:1298px;
  height:82px;
  display:flex;
  transition:none;
}
#u6262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1298px;
  height:82px;
}
#u6262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6263 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:686px;
  width:1298px;
  height:40px;
  display:flex;
  transition:none;
}
#u6263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1298px;
  height:40px;
}
#u6263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6264 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:726px;
  width:1298px;
  height:47px;
  display:flex;
  transition:none;
}
#u6264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1298px;
  height:47px;
}
#u6264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6265 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:761px;
  width:1299px;
  height:200px;
  display:flex;
  transition:none;
}
#u6265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:200px;
}
#u6265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6266 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:961px;
  width:1299px;
  height:36px;
  display:flex;
  transition:none;
}
#u6266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:36px;
}
#u6266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6267 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:997px;
  width:1299px;
  height:195px;
  display:flex;
  transition:none;
}
#u6267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:195px;
}
#u6267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6268 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:1192px;
  width:1289px;
  height:34px;
  display:flex;
  transition:none;
}
#u6268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:34px;
}
#u6268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6269 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:1226px;
  width:1289px;
  height:426px;
  display:flex;
  transition:none;
}
#u6269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:426px;
}
#u6269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6270 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:1652px;
  width:1289px;
  height:593px;
  display:flex;
  transition:none;
}
#u6270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:593px;
}
#u6270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6271 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:3079px;
  width:1400px;
  height:300px;
  display:flex;
  transition:none;
}
#u6271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:300px;
}
#u6271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:432px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6272 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:137px;
  width:1392px;
  height:432px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6273 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:136px;
  width:1289px;
  height:433px;
  display:flex;
  transition:none;
}
#u6273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:433px;
}
#u6273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6275 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:137px;
  width:2px;
  height:450px;
  display:flex;
  -webkit-transform:rotate(-0.02762858991505796deg);
  -moz-transform:rotate(-0.02762858991505796deg);
  -ms-transform:rotate(-0.02762858991505796deg);
  transform:rotate(-0.02762858991505796deg);
  transition:none;
}
#u6275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6275_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:453px;
}
#u6275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6276 {
  border-width:0px;
  position:absolute;
  left:1422px;
  top:167px;
  width:10px;
  height:10px;
  display:flex;
  transition:none;
  line-height:6px;
}
#u6276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u6276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6277 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:157px;
  width:106px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u6277 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6277_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6277.selected {
}
#u6277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6278 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:187px;
  width:106px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u6278 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6278_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6278.selected {
}
#u6278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6279 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:217px;
  width:106px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u6279 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6279_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6279.selected {
}
#u6279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6280 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:247px;
  width:106px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u6280 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6280_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6280.selected {
}
#u6280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6281 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:277px;
  width:106px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u6281 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6281_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6281.selected {
}
#u6281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6282 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:307px;
  width:106px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u6282 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6282_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6282.selected {
}
#u6282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6283 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:337px;
  width:106px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u6283 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6283_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6283.selected {
}
#u6283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6284 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:367px;
  width:106px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u6284 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6284_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6284.selected {
}
#u6284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6285 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:397px;
  width:106px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u6285 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6285_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6285.selected {
}
#u6285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6286 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:427px;
  width:106px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u6286 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6286_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6286.selected {
}
#u6286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6287 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:457px;
  width:106px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u6287 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6287_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6287.selected {
}
#u6287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6288 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:487px;
  width:106px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u6288 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6288_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6288.selected {
}
#u6288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6289 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:517px;
  width:106px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u6289 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6289_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u6289.selected {
}
#u6289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6290 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:569px;
  width:1403px;
  height:35px;
  display:flex;
  transition:none;
}
#u6290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:35px;
}
#u6290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:1641px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6291 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:604px;
  width:177px;
  height:1641px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 108, 108, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#F56C6C;
}
#u6292 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:604px;
  width:700px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#F56C6C;
}
#u6292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 108, 108, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#F56C6C;
}
#u6293 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:726px;
  width:700px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#F56C6C;
}
#u6293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 108, 108, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#F56C6C;
}
#u6294 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:997px;
  width:700px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#F56C6C;
}
#u6294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 108, 108, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#F56C6C;
}
#u6295 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:1226px;
  width:700px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#F56C6C;
}
#u6295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:3396px;
  visibility:hidden;
}
#u6296_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:3396px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 0.6980392156862745);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6296_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:372px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6297 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:354px;
  width:1228px;
  height:372px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1229px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u6298 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:322px;
  width:1229px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  text-align:left;
}
#u6298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u6299 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:325px;
  width:73px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u6299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 114, 231, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
}
#u6303 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:664px;
  width:72px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 181, 18, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u6304 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:664px;
  width:72px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u6304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6305 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:373px;
  width:1198px;
  height:261px;
  display:flex;
  transition:none;
}
#u6305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:261px;
}
#u6305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6296_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:3396px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 0.6980392156862745);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6296_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:372px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6306 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:536px;
  width:1228px;
  height:372px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1229px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u6307 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:504px;
  width:1229px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  text-align:left;
}
#u6307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u6308 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:507px;
  width:73px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u6308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 114, 231, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
}
#u6312 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:846px;
  width:72px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 181, 18, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u6313 {
  border-width:0px;
  position:absolute;
  left:1246px;
  top:846px;
  width:72px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u6313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6314 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:551px;
  width:1193px;
  height:257px;
  display:flex;
  transition:none;
}
#u6314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  height:257px;
}
#u6314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6296_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:3396px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 0.6980392156862745);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6296_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6315 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:893px;
  width:1228px;
  height:233px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1229px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u6316 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:861px;
  width:1229px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  text-align:left;
}
#u6316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u6317 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:864px;
  width:73px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u6317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 114, 231, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
}
#u6321 {
  border-width:0px;
  position:absolute;
  left:1315px;
  top:1066px;
  width:72px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 181, 18, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u6322 {
  border-width:0px;
  position:absolute;
  left:1227px;
  top:1066px;
  width:72px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u6322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6323 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:905px;
  width:1178px;
  height:148px;
  display:flex;
  transition:none;
}
#u6323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1178px;
  height:148px;
}
#u6323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6296_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:3396px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 0.6980392156862745);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6296_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6324 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:1109px;
  width:1228px;
  height:233px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1229px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u6325 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:1077px;
  width:1229px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  text-align:left;
}
#u6325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u6326 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:1080px;
  width:73px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u6326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 114, 231, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
}
#u6330 {
  border-width:0px;
  position:absolute;
  left:1315px;
  top:1282px;
  width:72px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 181, 18, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u6331 {
  border-width:0px;
  position:absolute;
  left:1227px;
  top:1282px;
  width:72px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u6331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6332 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:1119px;
  width:1188px;
  height:114px;
  display:flex;
  transition:none;
}
#u6332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:114px;
}
#u6332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
