body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3378 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:19px;
  width:1340px;
  height:671px;
  display:flex;
  transition:none;
}
#u3378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:671px;
}
#u3378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
}
#u3385 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:64px;
  width:1190px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
}
#u3385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 0.4980392156862745);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u3387 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:64px;
  width:1170px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u3387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:20px;
  background:inherit;
  background-color:rgba(97, 126, 245, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
}
#u3389 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:69px;
  width:5px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
}
#u3389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:588px;
  background:inherit;
  background-color:rgba(0, 33, 64, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3393 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:93px;
  width:150px;
  height:588px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 33, 64, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3395 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:64px;
  width:150px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3396 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:73px;
  width:8px;
  height:10px;
  display:flex;
  transition:none;
}
#u3396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u3396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u3398 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:94px;
  width:150px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u3398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3398_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(97, 126, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u3398.selected {
}
#u3398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3399 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:94px;
  width:1190px;
  height:587px;
}
#u3399_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:587px;
  overflow:auto;
}
