body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1342px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1323px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
}
#u10332 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1323px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
}
#u10332 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
  text-align:center;
}
#u10333 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:67px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
  text-align:center;
}
#u10333 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10333_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 114, 231, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
  text-align:center;
}
#u10333.selected {
}
#u10333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
  text-align:center;
}
#u10334 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:10px;
  width:67px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
  text-align:center;
}
#u10334 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10334_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 114, 231, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
  text-align:center;
}
#u10334.selected {
}
#u10334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10335 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:43px;
  width:1332px;
  height:547px;
}
#u10335_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1332px;
  height:547px;
  overflow:auto;
}
#u10336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1511px;
  height:669px;
  visibility:hidden;
}
#u10336_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1511px;
  height:669px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 0.6980392156862745);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10336_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:402px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u10337 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:126px;
  width:986px;
  height:402px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u10341 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:97px;
  width:986px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  text-align:left;
}
#u10341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u10342 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:100px;
  width:73px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u10342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10348 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:149px;
  width:960px;
  height:120px;
}
#u10349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u10349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u10349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10350 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:0px;
  width:166px;
  height:40px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u10350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
}
#u10350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10351 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:0px;
  width:76px;
  height:40px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u10351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
}
#u10351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10352 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:0px;
  width:106px;
  height:40px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u10352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u10352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10353 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:0px;
  width:376px;
  height:40px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u10353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u10353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10354 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:0px;
  width:179px;
  height:40px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u10354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u10354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:57px;
  height:40px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u10355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u10355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10356 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:40px;
  width:166px;
  height:40px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u10356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
}
#u10356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10357 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:40px;
  width:76px;
  height:40px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u10357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
}
#u10357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10358 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:40px;
  width:106px;
  height:40px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u10358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u10358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10359 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:40px;
  width:376px;
  height:40px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u10359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u10359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10360 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:40px;
  width:179px;
  height:40px;
  display:flex;
  transition:none;
  color:#02A7F0;
}
#u10360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u10360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:57px;
  height:40px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u10361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u10361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10362 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:80px;
  width:166px;
  height:40px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u10362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
}
#u10362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10363 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:80px;
  width:76px;
  height:40px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u10363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
}
#u10363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10364 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:80px;
  width:106px;
  height:40px;
  display:flex;
  transition:none;
  color:#F5222D;
}
#u10364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u10364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10365 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:80px;
  width:376px;
  height:40px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u10365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u10365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10366 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:80px;
  width:179px;
  height:40px;
  display:flex;
  transition:none;
  color:#02A7F0;
}
#u10366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u10366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10336_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1511px;
  height:669px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 0.6980392156862745);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u10336_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u10367 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:126px;
  width:986px;
  height:408px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  text-align:left;
}
#u10367 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u10371 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:97px;
  width:986px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  text-align:left;
}
#u10371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u10372 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:100px;
  width:73px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u10372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10373 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:129px;
  width:982px;
  height:402px;
}
#u10373_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:402px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10373_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10375 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:22px;
  width:1px;
  height:138px;
  display:flex;
  transition:none;
}
#u10375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:139px;
}
#u10375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10377 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:13px;
  width:10px;
  height:10px;
  display:flex;
  transition:none;
  color:#52C41A;
}
#u10377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u10378 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:10px;
  width:915px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u10378 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 20px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10380 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:46px;
  width:10px;
  height:10px;
  display:flex;
  transition:none;
  color:#52C41A;
}
#u10380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u10381 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:43px;
  width:915px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u10381 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 20px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10383 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:78px;
  width:10px;
  height:10px;
  display:flex;
  transition:none;
  color:#52C41A;
}
#u10383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u10384 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:75px;
  width:915px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u10384 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 20px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u10386 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:151px;
  width:915px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u10386 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 20px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10387 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:152px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u10387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10389 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:122px;
  width:10px;
  height:10px;
  display:flex;
  transition:none;
  color:#52C41A;
}
#u10389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u10390 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:119px;
  width:915px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u10390 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 20px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
