body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1503px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1511px;
  height:669px;
  visibility:hidden;
}
#u11822_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1511px;
  height:669px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 0.6980392156862745);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11822_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u11826 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:79px;
  width:986px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  text-align:left;
}
#u11826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u11826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u11827 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:82px;
  width:73px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u11827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11828 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:111px;
  width:986px;
  height:432px;
}
#u11828_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:432px;
  overflow:auto;
}
#u11829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1503px;
  height:730px;
  display:flex;
  transition:none;
}
#u11829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1503px;
  height:730px;
}
#u11829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
