body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1340px;
  height:588px;
  display:flex;
  transition:none;
}
#u3980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:588px;
}
#u3980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:64px;
  width:1190px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
}
#u3987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 0.4980392156862745);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:64px;
  width:1170px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u3989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:20px;
  background:inherit;
  background-color:rgba(97, 126, 245, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:69px;
  width:5px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
}
#u3991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:588px;
  background:inherit;
  background-color:rgba(0, 33, 64, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:93px;
  width:150px;
  height:588px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 33, 64, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:64px;
  width:150px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:73px;
  width:8px;
  height:10px;
  display:flex;
  transition:none;
}
#u3998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u3998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:94px;
  width:150px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u4000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4000_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(97, 126, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u4000.selected {
}
#u4000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:214px;
  width:150px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u4003_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4003.mouseOver {
}
#u4003_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(97, 126, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4003.selected {
}
#u4003_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(97, 126, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4003.mouseOver.selected {
}
#u4003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:254px;
  width:150px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u4004_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4004.mouseOver {
}
#u4004_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(97, 126, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4004.selected {
}
#u4004_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(97, 126, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4004.mouseOver.selected {
}
#u4004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:294px;
  width:150px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u4005_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4005.mouseOver {
}
#u4005_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(97, 126, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4005.selected {
}
#u4005_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(97, 126, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4005.mouseOver.selected {
}
#u4005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:334px;
  width:150px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u4006_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4006.mouseOver {
}
#u4006_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(97, 126, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4006.selected {
}
#u4006_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(97, 126, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#D7D9E3;
  text-align:left;
}
#u4006.mouseOver.selected {
}
#u4006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:154px;
  width:150px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u4007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4007_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(97, 126, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u4007.selected {
}
#u4007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:434px;
  width:150px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u4011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4011_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(97, 126, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u4011.selected {
}
#u4011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#F56C6C;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:507px;
  width:100px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#F56C6C;
}
#u4013 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:465px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F5222D;
}
#u4014_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:37px;
  height:10px;
}
#u4014_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-5px;
  width:10px;
  height:77px;
}
#u4014_seg2 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:62px;
  width:23px;
  height:10px;
}
#u4014_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4014_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:374px;
  width:150px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u4015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4015_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(97, 126, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u4015.selected {
}
#u4015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:94px;
  width:1190px;
  height:587px;
}
#u4016_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:587px;
  overflow:auto;
}
