body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1161px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:488px;
  display:flex;
  transition:none;
}
#u5173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:488px;
}
#u5173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5174 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:18px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#F56C6C;
}
#u5176 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:76px;
  width:188px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#F56C6C;
}
#u5176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5177 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:59px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F5222D;
}
#u5177_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:225px;
  height:10px;
}
#u5177_seg1 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:-5px;
  width:10px;
  height:52px;
}
#u5177_seg2 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:37px;
  width:20px;
  height:10px;
}
#u5177_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5177_text {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.1803921568627451);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  text-align:left;
}
#u5178 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:35px;
  width:182px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  text-align:left;
}
#u5178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#F56C6C;
}
#u5180 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:25px;
  width:188px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#F56C6C;
}
#u5180 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5181 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:43px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F5222D;
}
#u5181_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-11px;
  width:10px;
  height:11px;
}
#u5181_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-11px;
  width:56px;
  height:10px;
}
#u5181_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u5181_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
