body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7748 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:13px;
  width:1297px;
  height:557px;
}
#u7748_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1297px;
  height:557px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7748_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1297px;
  height:557px;
}
#u7749_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1297px;
  height:557px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7749_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1297px;
  height:527px;
}
#u7750_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1297px;
  height:527px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7750_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1103px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5691px;
  width:1103px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u7753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1125px;
  height:58px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u7753 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7755 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:59px;
  width:1084px;
  height:150px;
}
#u7756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:right;
}
#u7756 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
}
#u7756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7757 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:0px;
  width:812px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u7757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:30px;
}
#u7757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:272px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:right;
}
#u7758 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
}
#u7758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7759 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:30px;
  width:812px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u7759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:30px;
}
#u7759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:272px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:right;
}
#u7760 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
}
#u7760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7761 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:60px;
  width:812px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u7761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:30px;
}
#u7761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:272px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:right;
}
#u7762 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
}
#u7762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7763 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:90px;
  width:812px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u7763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:30px;
}
#u7763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:272px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:right;
}
#u7764 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
}
#u7764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7765 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:120px;
  width:812px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u7765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:30px;
}
#u7765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7766 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:207px;
  width:1084px;
  height:120px;
}
#u7767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:right;
}
#u7767 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
}
#u7767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7768 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:0px;
  width:268px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u7768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u7768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7769 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:0px;
  width:275px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:right;
}
#u7769 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:30px;
}
#u7769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7770 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:0px;
  width:269px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u7770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u7770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:272px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:right;
}
#u7771 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
}
#u7771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7772 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:30px;
  width:268px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u7772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u7772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7773 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:30px;
  width:275px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:right;
}
#u7773 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:30px;
}
#u7773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7774 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:30px;
  width:269px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u7774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u7774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:272px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:right;
}
#u7775 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
}
#u7775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7776 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:60px;
  width:268px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u7776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u7776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7777 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:60px;
  width:275px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:right;
}
#u7777 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:30px;
}
#u7777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7778 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:60px;
  width:269px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u7778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u7778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:272px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:right;
}
#u7779 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
}
#u7779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7780 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:90px;
  width:268px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u7780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u7780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7781 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:90px;
  width:275px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:right;
}
#u7781 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:30px;
}
#u7781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7782 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:90px;
  width:269px;
  height:30px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u7782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u7782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7783 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:327px;
  width:1084px;
  height:192px;
  display:flex;
  transition:none;
}
#u7783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:192px;
}
#u7783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7785 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:520px;
  width:1084px;
  height:300px;
  display:flex;
  transition:none;
}
#u7785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:300px;
}
#u7785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7786 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:820px;
  width:1084px;
  height:391px;
  display:flex;
  transition:none;
}
#u7786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:391px;
}
#u7786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7787 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1211px;
  width:1084px;
  height:311px;
  display:flex;
  transition:none;
}
#u7787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:311px;
}
#u7787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7788 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1522px;
  width:1084px;
  height:470px;
  display:flex;
  transition:none;
}
#u7788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:470px;
}
#u7788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7790 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1992px;
  width:1084px;
  height:381px;
  display:flex;
  transition:none;
}
#u7790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:381px;
}
#u7790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7791 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:2372px;
  width:1084px;
  height:401px;
  display:flex;
  transition:none;
}
#u7791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:401px;
}
#u7791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7792 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:2773px;
  width:1087px;
  height:275px;
  display:flex;
  transition:none;
}
#u7792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1087px;
  height:275px;
}
#u7792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7793 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:3048px;
  width:1086px;
  height:345px;
  display:flex;
  transition:none;
}
#u7793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  height:345px;
}
#u7793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7794 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:3324px;
  width:1084px;
  height:381px;
  display:flex;
  transition:none;
}
#u7794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:381px;
}
#u7794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7795 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:3704px;
  width:1084px;
  height:94px;
  display:flex;
  transition:none;
}
#u7795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:94px;
}
#u7795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7796 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:3794px;
  width:1084px;
  height:451px;
  display:flex;
  transition:none;
}
#u7796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:451px;
}
#u7796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7797 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:4245px;
  width:1086px;
  height:441px;
  display:flex;
  transition:none;
}
#u7797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  height:441px;
}
#u7797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7798 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:4685px;
  width:1085px;
  height:431px;
  display:flex;
  transition:none;
}
#u7798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:431px;
}
#u7798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7799 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:5116px;
  width:1086px;
  height:421px;
  display:flex;
  transition:none;
}
#u7799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  height:421px;
}
#u7799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7800 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:5537px;
  width:1083px;
  height:160px;
  display:flex;
  transition:none;
}
#u7800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:160px;
}
#u7800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7802 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:6px;
  width:271px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7803 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:317px;
  width:271px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7804 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:510px;
  width:271px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7805 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1192px;
  width:271px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7806 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1272px;
  width:271px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7807 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1502px;
  width:271px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7808 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1612px;
  width:271px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7809 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:3769px;
  width:271px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7810 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:4226px;
  width:271px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7811 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:4806px;
  width:271px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7812 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:5297px;
  width:271px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7814 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:50px;
  width:2px;
  height:352px;
  display:flex;
  -webkit-transform:rotate(-0.02762858991505796deg);
  -moz-transform:rotate(-0.02762858991505796deg);
  -ms-transform:rotate(-0.02762858991505796deg);
  transform:rotate(-0.02762858991505796deg);
  transition:none;
}
#u7814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7814_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:355px;
}
#u7814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7816 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:98px;
  width:9px;
  height:10px;
  display:flex;
  transition:none;
  line-height:6px;
}
#u7816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:10px;
}
#u7816_img.selected {
}
#u7816.selected {
}
#u7816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7817 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:88px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7817 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7817_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7817.selected {
}
#u7817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7819 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:128px;
  width:9px;
  height:10px;
  display:flex;
  transition:none;
  line-height:6px;
}
#u7819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:10px;
}
#u7819_img.selected {
}
#u7819.selected {
}
#u7819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7820 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:118px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7820 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7820_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7820.selected {
}
#u7820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7822 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:158px;
  width:9px;
  height:10px;
  display:flex;
  transition:none;
  line-height:6px;
}
#u7822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:10px;
}
#u7822_img.selected {
}
#u7822.selected {
}
#u7822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7823 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:148px;
  width:175px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7823 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7823_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7823.selected {
}
#u7823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7825 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:187px;
  width:9px;
  height:10px;
  display:flex;
  transition:none;
  line-height:6px;
}
#u7825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:10px;
}
#u7825_img.selected {
}
#u7825.selected {
}
#u7825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7826 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:178px;
  width:175px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7826 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7826_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7826.selected {
}
#u7826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7828 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:217px;
  width:9px;
  height:10px;
  display:flex;
  transition:none;
  line-height:6px;
}
#u7828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:10px;
}
#u7828_img.selected {
}
#u7828.selected {
}
#u7828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7829 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:207px;
  width:175px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7829 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7829_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7829.selected {
}
#u7829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7831 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:247px;
  width:9px;
  height:10px;
  display:flex;
  transition:none;
  line-height:6px;
}
#u7831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:10px;
}
#u7831_img.selected {
}
#u7831.selected {
}
#u7831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7832 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:237px;
  width:175px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7832 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7832_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7832.selected {
}
#u7832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7834 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:277px;
  width:9px;
  height:10px;
  display:flex;
  transition:none;
  line-height:6px;
}
#u7834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:10px;
}
#u7834_img.selected {
}
#u7834.selected {
}
#u7834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7835 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:267px;
  width:175px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7835 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7835_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7835.selected {
}
#u7835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7837 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:307px;
  width:9px;
  height:10px;
  display:flex;
  transition:none;
  line-height:6px;
}
#u7837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:10px;
}
#u7837_img.selected {
}
#u7837.selected {
}
#u7837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7838 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:297px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7838 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7838_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7838.selected {
}
#u7838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7840 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:69px;
  width:9px;
  height:10px;
  display:flex;
  transition:none;
  line-height:6px;
}
#u7840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:10px;
}
#u7840_img.selected {
}
#u7840.selected {
}
#u7840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7841 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:59px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7841 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7841_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7841.selected {
}
#u7841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7843 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:337px;
  width:9px;
  height:10px;
  display:flex;
  opacity:0.9;
  transition:none;
  line-height:6px;
}
#u7843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:10px;
}
#u7843_img.selected {
}
#u7843.selected {
}
#u7843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7844 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:327px;
  width:175px;
  height:30px;
  display:flex;
  opacity:0.9;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7844 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7844_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7844.selected {
}
#u7844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7846 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:367px;
  width:9px;
  height:10px;
  display:flex;
  transition:none;
  line-height:6px;
}
#u7846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:10px;
}
#u7846_img.selected {
}
#u7846.selected {
}
#u7846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7847 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:357px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7847 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7847_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7847.selected {
}
#u7847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1297px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7849 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:13px;
  width:1297px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7849 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#555555;
}
#u7850 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:18px;
  width:48px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#555555;
}
#u7850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#FFFFFF;
}
#u7851 {
  border-width:0px;
  position:absolute;
  left:1131px;
  top:18px;
  width:101px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#FFFFFF;
}
#u7851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
  text-align:center;
}
#u7852 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:13px;
  width:96px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
  text-align:center;
}
#u7852 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7852_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 145, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
  text-align:center;
}
#u7852.selected {
}
#u7852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
